extends ..\layout

block content
  form( method="post", action="")
    input( name="_id", type="hidden", value=employee._id )
    table( align="center" )
      tr
        td( align="left" )
          a(href="/")
            i.fa.fa-backward
            &nbsp; 
            span= "Back to listing page"
      tr
        td
          input( name="title", type="text", value=employee.title, placeholder="Title", required )
      tr
        td
          input( name="name", type="text", value=employee.name, placeholder="Name", required )
      tr
        td
          input( name="email", type="email", value=employee.email, placeholder="Email", required )
      tr
        td
          input( name="phone", type="text", value=employee.phone, placeholder="Phone", required )
      tr
        td( align="center" )
          button( type="submit", name="btn-update" )
            strong= "UPDATE"